<md-content class="search-results">
    <md-toolbar class="md-warn">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Add Songs to your Playlists</h2>
    </div>
  </md-toolbar>
  <md-input-container>
    <label>Search</label>
    <input ng-model="SearchCtrl.searchQuery" ng-change="SearchCtrl.onInputChanged()">
  </md-input-container>
  <md-content>
    <md-list>
      <md-list-item class="md-2-line" ng-click="null" ng-repeat="item in SearchCtrl.searchResults.tracks.items">
        <div class="md-list-item-text">
          <h3>{{item.name}}</h3>
          <h4>{{item.artists[0].name}}</h4>
        </div>

        <md-menu>
          <md-button aria-label="Open playlist interactions menu" class="md-icon-button" ng-click="SearchCtrl.openMenu($mdOpenMenu, $event)">
            <md-icon md-svg-icon="add-black" aria-label="more options"></md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item ng-repeat="playlist in SearchCtrl.playlists">
              <md-button ng-click="SearchCtrl.addToPlaylist(playlist, item)">
                {{playlist.label}}
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </md-list-item>
    </md-list>
  </md-content>
</md-content>
