<md-content>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
        <span>My Playlists</span>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="add playlist" ng-click="$ctrl.addPlaylist($event)">
        <md-icon md-svg-icon="add" aria-label="add playlist"></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Search Songs" ng-click="$ctrl.goToSearch()">
        <md-icon md-svg-icon="search"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-content layout-padding>
    <md-list flex>
      <!--<md-list-item ng-repeat="item in app.menu" ui-sref="{{item.state}}" ui-sref-active="item-menu-active">-->
      <md-list-item class="md-2-line" ui-sref="detail({ playlistId: key })" ui-sref-active="item-menu-active" ng-repeat="(key, playlist) in $ctrl.data track by $index">
        <div class="md-list-item-text" layout="column">
          <h3>{{playlist.label}}</h3>
          <p>{{playlist.songs.length}} Songs</p>
        </div>
      </md-list-item>
    </md-list>

  </md-content>
<md-content>