<div flex>
  <div ng-if="DetailCtrl.currentPlaylist">
    <md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
        <span>{{DetailCtrl.currentPlaylist.label}}</span>
      </div>
      <span flex></span>
      <md-menu>
        <md-button aria-label="Open playlist interactions menu" class="md-icon-button" ng-click="DetailCtrl.openMenu($mdOpenMenu, $event)">
           <md-icon md-svg-icon="more" aria-label="more options"></md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="DetailCtrl.deletePlaylist($event)">
              <md-icon md-svg-icon="delete-black" aria-label="more options"></md-icon>
              Delete Playlist
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="DetailCtrl.renamePlaylist($event)">
              <md-icon md-svg-icon="edit-black" aria-label="more options"></md-icon>
              Rename Playlist
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="DetailCtrl.exportPlaylist()">
              <md-icon md-svg-icon="save-black" aria-label="more options"></md-icon>
              Export Playlist
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-toolbar>

    <md-content>
      <md-list flex>
        <md-subheader class="md-no-sticky">{{DetailCtrl.currentPlaylist.songs.length}} Tracks - Created At {{DetailCtrl.formattedDate}}</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="song in DetailCtrl.currentPlaylist.songs track by song.track" ng-click="null" layout-padding>
          <md-icon md-svg-icon="audiotrack" ng-if="!song.customImage" ng-class="{'md-avatar-icon': !song.customImage}"></md-icon>
          <img ng-src="{{song.customImage}}" class="md-avatar" alt="{{song.customImage}} image" ng-if="song.customImage"/>
          <div class="md-list-item-text" layout="column">
            <h3>{{ song.track }}</h3>
            <h4>{{ song.artist }}</h4>
            <p>{{ song.note }}</p>
          </div>
          <md-icon class="md-secondary" ng-click="DetailCtrl.editSong($event, song, $index)" md-svg-icon="edit-black" aria-label="song.label"></md-icon>
        </md-list-item>
      </md-list>
    </md-content>
  </div>

  <div ng-if="!DetailCtrl.currentPlaylist">
    <md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
      </div>
      <span flex></span>
    </md-toolbar>
    <md-content>
      <h2>Please Select or Create a Playlist to Continue</h2>
    </md-content>
  </div>
</div>