<md-dialog>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="editSongCtrl.cancel()">
          <md-icon md-svg-icon="close-black" aria-label="close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>{{editSongCtrl.currSong.track}}</h2>
      </div>

      <md-input-container class="md-block">
        <label>Image</label>
        <input ng-model="currSong.customImage">
      </md-input-container>

      <md-input-container class="md-block">
        <label>Note</label>
        <textarea ng-model="currSong.note" md-maxlength="140" rows="3" md-select-on-focus></textarea>
      </md-input-container>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="editSongCtrl.remove()">
        Remove
      </md-button>
      <span flex></span>
      <md-button ng-click="editSongCtrl.cancel()">
       Cancel
      </md-button>
      <md-button ng-click="editSongCtrl.save(editSongCtrl.currentEditSong)">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

